/* Make the logo bigger */
.nav-logo {
    height: 80px; /* You can adjust this size */
    width: auto;
}

/* Basic styling for the navigation bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FDE2E4;
    padding: 10px 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-left: 20px;
}

a {
    display: block;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    background-color: #FFCAD4;
    border-radius: 5px;
}

header {
    text-align: center;
    background-color: #FEC5BB;
    color: #333;
    padding: 40px 20px;
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    font-size: 2em;
    color: #6D6875;
}

/* Styling for product section */
.product-grid {
    display: flex;
    justify-content: center; /* Center products horizontally */
    flex-wrap: wrap; /* Allow wrapping to new lines if necessary */
    gap: 20px; /* Space between products */
}

.product {
    text-align: center;
    flex: 0 0 200px; /* Set a fixed width for each product */
    margin: 10px; /* Margin around each product */
}

.product h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

.product img {
    height: 200px; /* Set a fixed height for all images */
    width: 100%; /* Make width 100% to fill the product container */
    border-radius: 10px;
    border: solid 2px #C9E9D2;
    object-fit: cover; /* Ensures images fill the container while maintaining aspect ratio */
}

/* Footer styling */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
